# === General ===
*.log
*.tmp
*.swp
*.swo
*.DS_Store
Thumbs.db
.idea/
*.iml
*.ipr
*.iws

# VS Code (descomenta si quieres ignorar toda la carpeta)
#.vscode/

# === Dart / Flutter / Pub ===
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/

# Plugins cache
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# === Android ===
android/app/debug
android/app/profile
android/app/release
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# NDK / cmake
**/android/**/obj/
**/android/**/libs/
**/android/**/cmake-build-*/

# === iOS (por si abres en el futuro) ===
ios/.symlinks/
ios/Flutter/.last_build_id
Pods/
Podfile.lock
ios/Runner/GeneratedPluginRegistrant.*

# === Web / Linux / macOS / Windows (generados) ===
web/.dart_tool/
linux/
macos/
windows/

# === Firebase / credenciales locales ===
*.firebaserc.local
firebase_app_id_file.json

# === Otros ===
migrate_working_dir/